--extra-index-url https://download.pytorch.org/whl/cu113
torch
torchaudio

whisper
gradio
huggingface_hub
transformers
datasets
snac
librosa
numpy
soundfile
scipy
sentencepiece
protobuf
accelerate
unsloth
